---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import StringEncodingComponent from "@components/tools/stringEncoding.vue";
import BackToPrevious from "@components/BackToPrevious.astro";

const title = 'String Encoding and Decoding';
const description = 'Tools for encoding and decoding strings in various formats.';
---

<Layout title={title} description={description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/tools">Back to tools</BackToPrevious>
      <div class="my-10">
        <h1 class="text-black dark:text-white text-5xl font-bold">{title}</h1>
        <p class="mt-4 mb-6 text-lg text-gray-700 dark:text-gray-300 leading-relaxed">{description}</p>
      </div>
      <StringEncodingComponent client:only="vue" />
    </div>
  </Container>
</Layout>
